<div id="game" class="<%= @gameClass %>">
	<%= render :partial => 'members/friend', :collection =>@candidates, :layout => false %>
</div>

<div class="who-card">
	<%= image_tag( 'who.png' ) %>
	<div id="quote"><%= render :partial => 'members/quote', :layout => false %></div>
</div>

<% form_remote_tag :url => get_quote_member_path, :loading => "loadQuote()", :method => :get, 
  :success => "showQuote(request)" do -%>

<div style="text-align:center;padding:10px;float:none;">
<%= submit_tag 'Next Quote', :id => 'quote_button', :class => 'button blue' %>
<div id="countdown">5</div><span>Left</span>
</div>
<% end -%>
